@page "/product/edit/{id:int}"
@rendermode InteractiveServer
@using FashionStock.WebApi.Models
@inject IWebApi WebApi
@inject NavigationManager NavigationManager


<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
        <EditForm Model="@productModel" OnValidSubmit="SaveProduct">
            <MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height: 100vh;">
                <MudItem xs="12" sm="7">
                <MudCard Class="elevation-4" Style="background-color: #E3F2FD;">
                    <MudCardHeader Class="mud-card-header-custom">
                        <MudText Typo="Typo.h5" Align="Align.Center" Class="text-primary">@productModel.Name</MudText>
                    </MudCardHeader>
                        <MudCardContent>
                        <MudTextField Class="text-primary" Label="Name"
                                  @bind-Value="productModel.Name"/>
                        <MudTextField Label="Description" Class="mt-3 text-primary"
                                  @bind-Value="productModel.Description"/>
                        <MudTextField Label="Price" Class="mt-3 text-primary"
                                  @bind-Value="productModel.Price" />
                        @* <MudTextField Label="Quantity" Class="mt-3 text-primary"
                                  @bind-Value="productModel.Quantity" InputType="InputType.Number" /> *@
                        </MudCardContent>
                    <MudItem xs="12">

                        <label class="ml-4" for="CategorySelect">Select an Option:</label>
                        <select id="CategorySelect" class="form-control" @bind="@productModel.CategoryId" style="width:13cm; margin:auto">
                            <option value="">Select a Category</option>
                            @foreach (var category in _categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>

                    </MudItem>
                            <MudCardActions Class="justify-end">
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" @onclick="() => GoBack(productModel.Id)">Cancel</MudButton>
                                <MudButton ButtonType="ButtonType.Submit" Class="ml-2" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Save" Style="background: linear-gradient(45deg, #81C784, #66BB6A); color: white;">Save Product</MudButton>
                            </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudContainer>


@code {
    [Parameter]
    public int Id { get; set; }

    private ProductModel productModel { get; set; } = new();

    private List<CategoryModel> _categories { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        productModel = await WebApi.GetProduct(Id);

        _categories = await WebApi.GetCategories();
    }

    private async void SaveProduct()
    {
        var result = await WebApi.UpdateProduct(productModel);
        NavigationManager.NavigateTo("/products");

    }

    private void GoBack(int id)
    {
        NavigationManager.NavigateTo($"/product/{id}", true);
    }

}
